.task-showcase-container {
  border: 1px solid black;
  width: 40% !important;
}

.task-showcase {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: box-shadow 0.3s ease;
}

.task-showcase:hover {
  scale: 1.005;
}

.row {
  justify-content: center !important;
}
